#note-3 {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: stretch;
  & .left {
    flex: 0 0 var(--navWidth);
    display: flex;
    flex-direction: column;
    background-color:  rgb(51,53,56);
    overflow: scroll;
    & .firstTag{
      display: flex;
      flex: 0 0 50px;
    }
    & .tag {
      display: flex;
      flex: 0 0 40px;
      padding-left: 10px;
      padding-right: 10px;
      align-items: stretch;
      color: gray(95%);

      & .icon {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 20px;
        margin: 10px;
        border-radius: 2px;
        border: 1px solid gray(95%);
      }

      & .text {
        display: block;
        width: 90px;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 40px;
        align-items: center;
      }
    }
  }
  & .middle {
    flex: 0 0 var(--timelineWidth);
  }
  & .right {
    flex: 1;  
    display: flex;
    flex-direction: column;  
  }
}

#note-2 {
	display: flex;
	flex: 1;
	justify-content: center;
  align-items: stretch;
}

#note-1 {
	display: flex;
	flex: 1;
	justify-content: center;
  align-items: stretch;
}