#note {
    display: flex;
    width: 100%;
    /*flex: 1;*/
    align-items: stretch;
    & .paper {
        z-index: 0;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: scroll;
        /*align-items:center;*/
    }
    & .card-List {
        z-index: 0;
        margin-left: 50px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    & .hover {
        z-index: 3;
        /*position: fixed;*/
        /*left: 0px;*/
        /*height: 100%;*/
        border-right: solid #DDDDDD 1px;
        display: flex;;
        flex: 0 0 60px;
        & .fixedBar {
            left: 0px;
            z-index: 10;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 60px;
        }
    }
}