#note-3 {
  display: flex;
  width:100%;
  /*flex: 1;*/
  justify-content: center;
  align-items: stretch;
  & .paper {
    flex: 0 0 600px;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    overflow: scroll;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    /*align-items:center;*/
  }
  & .middle {
    flex: 0 0 var(--timelineWidth);
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}