@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

.noteList {
    overflow: auto;
    height: 100%;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 30px;
	background-color: #ffffff;
	& .timelineSearch {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		& .timelineSearchBar {
			width: 240px;
			height: 30px;
			box-sizing: border-box;
			flex: 1;
			background-color: #ffffff;
			border: solid 1px #eaeaea;
			border-radius: 8px;
			padding-left: 10px;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			overflow: scroll;
			& .selectedTagList {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				& .oneOfTag {
					font-family: 'Lato';
					border-radius: 8px;
					border: solid 1px #ffbfcb;
					display: flex;
					align-items: center;
					justify-content: center;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					text-align: center;
					width: 25px;
					height: 12px;
					margin: auto 1px auto 1px;
					letter-spacing: 0.1em;
					font-size: 8px;
					color: #ffbfcb;
				}
			}
			& .tagSearchInput {
				border: none;
				outline: none;
			}
		}
		& .timelineSearchBar::placeholder {
			vertical-align: middle;
			font-family: 'Lato';
			font-weight: 300;
			font-size: 15px;
			color: #d0d0d0;
		} 
	}
	& .timelineList {
		width: 100%;
		height: 700px;
		margin-top: 20px;
		overflow: scroll;
	}

}



