@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

.noteList {
    overflow: auto;
    height: 100%;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #ffffff;

	& .timelineSearch {
		margin-top: 30px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	& .timelineList {
		width: 100%;
		height: 700px;
		margin-top: 20px;
		overflow: scroll;
	}

}



