@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

.noteList {
	z-index: 3;
    overflow: auto;
    left: 150px;
    height: 100%;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 30px;
	background-color: #ffffff;
	& .timelineSearch {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		& .timelineSearchBar {
			width: 240px;
			height: 30px;
			box-sizing: border-box;
			flex: 1;
			background-color: #ffffff;
			border: solid 1px #eaeaea;
			border-radius: 8px;
			outline: none;
			padding-left: 10px;
		}
		& .timelineSearchBar::placeholder {
			vertical-align: middle;
			font-family: 'Lato';
			font-weight: 300;
			font-size: 15px;
			color: #d0d0d0;
		} 
	}
	& .timelineList {
		width: 100%;
		height: 700px;
		overflow: scroll;
	}

}



