@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

.noteList {
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #ffffff;
	& .timelineSearch {
		flex: 0 0 40px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	& .timelineList {
		flex: 1 1 auto;
		width: 100%;
	}

}



