.timelineSearchBar {
        display: flex;
        flex-direction: row;
        border: solid 1px #eaeaea;
        justify-content: flex-start;
        align-items: center;
        width: 240px;
        height: 30px;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 8px;
        padding-left: 10px;
        & .tagContent {
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: flex-start;
            overflow: scroll;
            & .selectedTagList {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                & .oneOfTag {
                    margin: 0 auto;
                    margin: 1px 3px 1px 3px;
                    padding: 2px 2px 0 2px;
                    border: solid 1px #FF3466;
                    font-family: 'Lato';
                    /*background-color: #ff3466;*/
                    border-radius: 8px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    text-align: center;
                    width: 34px;
                    height: 14px;
                    letter-spacing: 0.1em;
                    font-size: 10px;
                    color: #FF3466;
                }
                & .oneOfTag:hover {
                    color: #ffffff;
                    background-color: #FF3466;
                }
            }
            & .tagSearchInput {
                border: none;
                outline: none;
            }
        }
        & .expandingIcon {
            margin-right: 8px;
            width: 16px;
            height: 16px;
        }
}