@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

.container {
	margin-top: 10px;
	color: #D2D2D2;
	font-size: 17px;
	font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    color: grey;
}
.note-count {
	display: inline;
}
.standard {
	margin-left: 3px;
	display: inline;
}