@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600');


.container {
    display: flex;
    flex-direction: column;
    margin: 18px;
   	width: 219px;
	height: 290px;
    font-family: 'Lato';
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #ececec;
    border-radius: 10px;
    & .head {
        display: flex;
        flex: 0 0 115px;
        flex-direction: column;
        background-position: center;  
        background-size: cover;
        background-image: url('../shanghai.jpg');
        border-radius: 10px 10px 0px 0px;
        justify-content: flex-start;
        & .title {
            position: relative;
            letter-spacing: -1px;
            text-align: left;
            color: #ffffff;
            font-weight: 300;
            & .block {
                position: absolute;
                top: 20px;
                left: 15px;
                width: 8px;
                height: 22px;
                background-color: #FE6C8F;
            }
            & .text{
                position: absolute;
                top: 20px;
                left: 29px;
                line-height: 1.1;
                width: 80%;
                height: 60px;
                font-size: 15pt;
                font-weight: 600;
                letter-spacing: -1px;
	            color: #ffffff;
            }
        }
    }
    & .middle {
        flex: 0 0 97px;
        margin-top: 15px; 
        padding-right: 28px;
        padding-left: 28px;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 1.2;
        text-align: left;
        overflow: hidden;
        color: #9e9e9e;
    }
    & .footer {
        display: flex;
        flex: 0 0 40px;
        flex-direction: row;
        border-radius: 0px 0px 10px 10px;
        & .left {
            flex: 1.3 0;
            & .share {
                display: flex;
                flex: 1 0 80%;
                margin-top: 15px;
                padding-right: 1px;
                align-items: center;
                justify-content: center;
                & .heartIcon {
                    
                }
                & .number {
                    margin: 10px 0px 0px 2px;
                    font-size: 10px;
	                color: #ff698e;
                }
            }
        }
        & .right {
            display: flex;
            flex: 1 0;
            flex-direction: column;
            margin-top: 13px;
            padding-right: 25px;
            & .time {
                text-align:right;
                font-size: 11px;
                color: #c6c6c6;
            }
            & .tag {
                text-align:right;
                & .tagInstance {
                    margin-top: 2px;
                    margin-left: 1px;
                    width: 100%;
                    height: 14px;
                    overflow: hidden;
                    letter-spacing: 0.1em;
                    font-size: 10px;
                    color: #ff698e;
                }
            }      
        }     
    }
}

.container:hover {
   	width: 219px;
	height: 290px;
    margin-top: 7px;
    border-radius: 10px;
    transition-delay: 1s;
    box-shadow: 0 11px 17px 0 rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.35);
    transition: all 0.2s linear;
}