@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

.tagBar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 30px;
        & .tagContent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            overflow: scroll;
            & .selectedTagList {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                & .oneOfTag {
                    font-family: 'Lato';
                    /*background-color: #ff3466;*/
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1px 6px 1px 6px;
                    border-radius: 8px;
                    border: solid 1px #FF3466;
                    margin: auto 2px auto 2px;
                    text-align: center;
                    height: 14px;
                    font-weight: 300;
                    letter-spacing: 0.1em;
                    font-size: 10px;
                    color: #FF3466;
                }
                & .oneOfTag:hover {
                    color: #ffffff;
                    background-color: #FF3466;
                }
            }
            & .tagSearchInput {
                border: none;
                outline: none;
            }
        }
}
