.tagBar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 30px;
        & .tagContent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            overflow: scroll;
            & .selectedTagList {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                & .oneOfTag {
                    font-family: 'Lato';
                    /*background-color: #ff3466;*/
                    border-radius: 8px;
                    border: solid 1px #B4B4B4;
                    margin: 0 auto;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    text-align: center;
                    width: 34px;
                    height: 14px;
                    margin: 1px 3px 1px 3px;
                    padding: 2px 2px 0 2px;
                    letter-spacing: 0.1em;
                    font-size: 10px;
                    color: #ffffff;
                    background-color: #B4B4B4;
                }
                & .oneOfTag:hover {
                    color: #B4B4B4;
                    background-color: #ffffff;
                }
            }
            & .tagSearchInput {
                border: none;
                outline: none;
            }
        }
}
