@import url('https://fonts.googleapis.com/css?family=Lato');
#tagNav {
    z-index: 109;
    height: 100%;
    left: 60px;
    padding-top: 50px;
    display: flex;
    font-size: 13px;
    font-family: 'Lato';
    flex-direction: column;
    background-color: #ffffff;
    overflow: scroll;
    & .tag {
      display: flex;
      flex: 0 0 30px;
      padding-left: 3px;
      padding-right: 10px;
      align-items: stretch;
      color: #a5a5a5;
      & .text {
        display: block;
        width: 90px;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 20px;
        align-items: center;
      }
    }
}

.facebookButton {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #a5a5a5;

    margin-bottom: 30px;
}