@import url('https://fonts.googleapis.com/css?family=Lato');
#tagNav {
    z-index: 109;
    height: 100%;
    left: 60px;
    padding-top: 85px;
    display: flex;
    font-size: 13px;
    font-family: 'Lato';
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    overflow: scroll;
    & .tag {
      flex: 0 0 30px;
      padding-left: 3px;
      padding-right: 10px;
      color: #a5a5a5;
      & .text {
        padding-left: 30px;
        display: block;
        width: 90px;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 20px;
        align-items: center;
      }
      & .text:hover {
        color: #ff3466;
      }
      & .facebookButton {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #a5a5a5;
      }
    }
}

