@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

.head {
	margin-bottom: 15px;
}

.title {
	display: block;
	width: 100%;
	border: none;
	font-size: 30px;
	color: grey;
	background-color: #FBFBFB;
	height: 40px;
	margin: 0px;
	resize: none;
	text-align: center;
  	font-weight: 500;
  	font-family: 'Quicksand', sans-serif;
}

.title:focus {
	outline: none;
}

.tag {
	display: block;
	width: 100%;
	border: none;
	font-size: 16px;
	color: grey;
	background-color: #FBFBFB;
	height: 40px;
	margin: 0px;
	resize: none;
}

.tag:focus {
	outline: none;
}