.head {
	margin-bottom: 15px;
}

.title {
	display: block;
	width: 100%;
	border: none;
	font-size: 20px;
	color: grey;
	background-color: #FBFBFB;
	height: 40px;
	margin: 0px;
	resize: none;
}

.title:focus {
	outline: none;
}

.tag {
	display: block;
	width: 100%;
	border: none;
	font-size: 16px;
	color: grey;
	background-color: #FBFBFB;
	height: 40px;
	margin: 0px;
	resize: none;
}

.tag:focus {
	outline: none;
}