.left-editor {
	flex: 9;
}

.right-tool {
	flex: 1;
	flex-direction: column;
	align-items: center;
	margin-right: -100px;
	padding-left: 30px;
}

.richstyle {
	position: fixed;
	bottom: 60px;
}

.mode {
	position: fixed;
	margin-left: 1px;
    margin-top: 40px;
    bottom: 25px;
}