@import url('https://fonts.googleapis.com/css?family=Quicksand:500');


.head {
  
}

.title {
    display: block;
    border: none;
    font-size: 15px;
    color: grey;
    height: 40px;
    margin: 0px;
    resize: none;
    font-weight: 200;
    font-family: 'Quicksand', sans-serif;
    border-bottom: solid 1px;
    border-color: #E7E6E6;
    text-align: justify;
    margin-top: 30px;
    height: 30px;
    padding-bottom: -10px;
    width: 900px;
  }

.title:focus {
    outline: none;
}

.mansory {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

