@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

.head {
  align-self: flex-start;
  margin-left: 10px;
}

.title {
    resize: none;
    text-align: justify;
    margin-top: 30px;
    width: 380px;
    height: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #d0d0d0;
    font-family: 'Lato';
    font-size: 15px;
    color: #BCBCBC;
    padding: 10px 10px 10px 10px;
  }

.title::placeholder {
    vertical-align: middle;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 15px;
    color: #d0d0d0;
} 

.title:focus {
    outline: none;
}

.mansory {
    margin-top: 30px;
    flex: 1 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}

